<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header.html :: header(title = 'Test Talk JS')"/>
    <meta class="talkJSAppId" th:content="${talkJSAppId}"/>
</head>
<body>
<div class="new-chat-div" id="new-chat-div"></div>
<button class="new-chat-button" id="new-chat-button">New Chat</button>
<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px"><i>Loading Chat...</i></div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
<div th:replace="fragments/chat-scripts.html :: chat-scripts"></div>
</body>
</html>