<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header(title = 'Create a Post')"></head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<form th:action="@{/mentorship-posts/create}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Employer:
    <input th:field="*{employer}" />
    <br />
    Description:
    <input th:field="*{body}" />
    <br />
    <button class="button photo-upload" type="button" id="photo-picker">Upload Profile Image</button>
    <input type="hidden" class="" id="photo-upload" name="photoURL">
    <input type="submit" />
</form>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>