<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header.html :: header(title = 'Create Whiteboard Question')"/>
    <meta class="filestackKey" th:content="${filestackKey}"/>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<form th:action="@{/whiteboard-questions/create}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Body:
    <input th:field="*{body}" />
    <br />
    Answer:
    <input th:field="*{answer}" />
    <br />
    <input type="hidden" class="" id="postTypeId" name="postTypeId" value="4">
    <input type="submit" />
</form>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>