<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header.html :: header(title = 'Edit WhiteBoard Post')"/>
    <meta class="talkJSAppId" th:content="${talkJSAppId}"/>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<form th:action="@{|/whiteboard-questions/edit/${post.id}|}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" th:value="*{title}"/>
    <br />
    Description:
    <input th:field="*{body}" th:value="*{body}"/>
    <br />
    Answer:
    <input th:field="*{answer}" th:value="*{answer}"/>
    <br />
    <input type="submit" />
</form>
<div th:replace="fragments/chat-box.html :: chat-box"></div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
<div th:replace="fragments/chat-scripts.html :: chat-scripts"></div>
</body>
</html>

