<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<th:block th:fragment="body-scripts">
    <script type="text/javascript" th:src="@{~/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/bootstrap.bundle.min.js}"></script>
    <script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
    <script type="text/javascript" th:src="@{~/js/keys.js}"></script>
    <script type="text/javascript" th:src="@{~/js/scripts.js}" th:inline="javascript"></script>
</th:block>
</body>
</html>