<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<th:block th:fragment="body-scripts">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
    <script type="text/javascript" th:src="@{~/js/keys.js}"></script>
    <script type="text/javascript" th:src="@{~/js/comment.js}" th:inline="javascript"></script>
    <script type="text/javascript" th:src="@{~/js/delete.js}" th:inline="javascript"></script>
    <script type="text/javascript" th:src="@{~/js/ratings.js}" th:inline="javascript"></script>
<!--    add skill used in register and add comment used in all show pages-->
    <script>
        if (document.getElementById("add-skill-button") !== null) {
            let i = 0;
            document.getElementById("add-skill-button").addEventListener("click", function (e) {
                e.preventDefault();
                let newDiv = document.createElement("div");
                // and give it some content
                newDiv.innerHTML = `<input type="text" id="skills-param-${i}" name="skills-param" placeholder="Please input a skill.">`
                // add the text node to the newly created div
                document.querySelector("#skills-div").appendChild(newDiv);
                i++;
            })
        }
    </script>
    <script>
        // if (photoBtn !== null || resumeBtn !== null) {
        //     // Set up the picker
        //     const client = filestack.init(FILESTACK_API_KEY);
        //     const photoOptions = {
        //         onUploadDone: updatePhotoForm,
        //         maxSize: 10 * 1024 * 1024,
        //         accept: 'image/*',
        //         uploadInBackground: false,
        //     };
        //     const resumeOptions = {
        //         onUploadDone: updateResumeForm,
        //         maxSize: 10 * 1024 * 1024,
        //         accept: 'image/*',
        //         uploadInBackground: false,
        //     };
        //     const photoPicker = client.picker(photoOptions);
        //     const resumePicker = client.picker(resumeOptions);
        //
        //     // Get references to the DOM elements
        //     const photoInput = document.getElementById('photo-upload');
        //     const photoBtn = document.getElementById('photo-picker');
        //     const resumeInput = document.getElementById('resume-upload');
        //     const resumeBtn = document.getElementById('resume-picker');
        //
        //
        //     // Add our event listeners
        //
        //     if (photoBtn !== null) {
        //         photoBtn.addEventListener('click', function (e) {
        //             e.preventDefault();
        //             photoPicker.open();
        //         });
        //     }
        //     if (resumeBtn !== null) {
        //         resumeBtn.addEventListener('click', function (e) {
        //             e.preventDefault();
        //             resumePicker.open();
        //         });
        //     }
        //
        //     function updatePhotoForm(result) {
        //         const fileData = result.filesUploaded[0];
        //         photoInput.value = fileData.url; //this is the good part
        //         console.log(fileData.url);
        //         console.log(photoInput.value);
        //     };
        //
        //     function updateResumeForm(result) {
        //         const fileData = result.filesUploaded[0];
        //         resumeInput.value = fileData.url; //this is the good part
        //         console.log(fileData.url);
        //         console.log(resumeInput.value);
        //     };
        // }
    </script>
</th:block>
</body>
</html>