<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<th:block th:fragment="body-scripts">
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"-->
<!--            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"-->
<!--            crossorigin="anonymous"></script>-->
    <script type="text/javascript" th:src="@{~/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/bootstrap.bundle.min.js}"></script>
    <script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
    <script type="text/javascript" th:src="@{~/js/keys.js}"></script>
    <script type="text/javascript" th:src="@{~/js/scripts.js}" th:inline="javascript"></script>

    <script src="https://kit.fontawesome.com/f868b57b2e.js" crossorigin="anonymous"></script>
</th:block>
</body>
</html>