<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<th:block th:fragment="chat-scripts">
    <script>
        (function(t,a,l,k,j,s){
            s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
            ;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
                        .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
    </script>
    <script th:inline="javascript">

        let userId = /*[[${user.id}]]*/;
        let userUsername = /*[[${user.username}]]*/;
        let userEmail = /*[[${user.email}]]*/;
        Talk.ready.then(function() {
            const me = new Talk.User({
                id: userId,
                name: userUsername,
                email: userEmail,
                // photoUrl: document.getElementById("photo-url").value,
            });
            window.talkSession = new Talk.Session({
                appId: document.querySelector('meta.talkJSAppId').content,
                me: me
            });

            const inbox = talkSession.createInbox();
            inbox.mount(document.getElementById("talkjs-container"));
            function attachChatWithEventListener(response) {
                document.querySelectorAll(".chat-with-button").forEach(button => {
                    button.addEventListener("click", function(e) {
                        e.preventDefault();
                        let otherId = this.getAttribute("id").split("-")[2];
                        let otherUserObj = {};
                        for(let i = 1; i < response.length; i++) {
                            if(response[i].id == otherId) {
                                otherUserObj.id = response[i].id;
                                otherUserObj.name = response[i].username;
                                otherUserObj.email = response[i].email;
                            }
                        }
                        const other = new Talk.User(otherUserObj);
                        const conversation = talkSession.getOrCreateConversation(Talk.oneOnOneId(me, other))
                        conversation.setParticipant(me);
                        conversation.setParticipant(other);
                        const newInbox = talkSession.createInbox({selected: conversation});
                        newInbox.mount(document.getElementById("talkjs-container"));
                        setTimeout(function() {
                            document.querySelector("#new-chat-div").innerHTML = "";
                            document.querySelector("#search-results-para").remove();
                            document.querySelector("#search-results-card").remove();
                            document.querySelector("#new-chat-button").style.display = "block";
                        }, 0)
                    })
                })
            }
            function attachChatEventListeners() {
                document.querySelector("#new-chat-button").addEventListener("click", function (e) {
                    e.preventDefault();
                    document.querySelector("#new-chat-button").style.display = "none";
                    document.querySelector(`#new-chat-div`).innerHTML = `<input class="mr-2" type="text" id="chat-user-search-input" name="username" style="width: 13rem;" placeholder="Search by username"><button class="chat-user-search-button ml-2" id="chat-user-search-button">Search.</button>`;
                    document.querySelector(`#chat-user-search-button`).addEventListener("click", function (e) {
                        e.preventDefault();
                        let username = document.querySelector(`#chat-user-search-input`).value;
                        fetch(`/chat?username=${username}`, {
                            method: 'GET',
                            headers: {
                                'X-CSRF-TOKEN': token
                            }
                        })
                            .then(response => {
                                return response.json();
                            })
                            .then(response => {

                                let newDivHTML = `<h3 id="search-results-para" class="col-12 text-center">Results</h3><div class="card overflow-auto col-12" id="search-results-card" style="width: 18rem; height: 18rem"><ul class="list-group list-group-flush">`;
                                for(let i = 1; i < response.length; i++) {
                                    newDivHTML += `<li class="list-group-item"><span class="mr-auto">Username: ${response[i].username}</span><button class="chat-with-button ml-auto" id="chat-with-${response[i].id}">Chat</button></li>`;
                                }
                                newDivHTML += `</ul></div>`;
                                let newDiv = document.createElement("div").innerHTML = newDivHTML;
                                this.style.display = "none";
                                document.querySelector("#chat-user-search-input").style.display = "none";
                                document.querySelector("#chat-modal-body").innerHTML = newDiv + document.querySelector("#chat-modal-body").innerHTML;
                                attachChatEventListeners();
                                return response;
                            })
                            .then(response => {
                                attachChatWithEventListener(response);
                            })
                    })
                })
            }
            attachChatEventListeners();
        });
    </script>
</th:block>
</body>
</html>