<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="chat-box">
    <footer>
        <div class="col-2">
<!--            <button class="btn btn-primary show-chat-modal-button" id="show-chat-modal-button" data-toggle="modal" data-target="#chat-modal">Chat</button>-->
            <i class="show-chat-modal-button fas fa-comment-dots btn-link" id="show-chat-modal-button" data-toggle="modal" data-target="#chat-modal"></i>
<!--            <i class="downvote-button fas fa-arrow-down btn btn-link" th:id="'downvote-' + ${post.id}"></i>-->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chat-modal" tabindex="-1" role="dialog" aria-labelledby="chat-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--                        Set this with JS-->
                        <h5 class="modal-title" id="chat-modal-title">Chat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row" id="chat-modal-body">
                        <div class="new-chat-div col-12 text-center" id="new-chat-div"></div>
                        <button class="new-chat-button col-12 text-right" id="new-chat-button">New Chat</button>
                        <h3 class="col-12 text-center">Inbox</h3>
                        <div class="col-12" id="talkjs-container" style="width: 100%; margin: 10px; height: 500px"><i>Loading chat...</i></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>