<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">

    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/register.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/landingPage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/dashboard.css}">

    <link rel="stylesheet" type="text/css" th:href="@{~/css/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Dosis|PT+Sans+Narrow|Raleway|Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f868b57b2e.js" crossorigin="anonymous"></script>

</head>
<body>


</body>
</html>