<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <head th:replace="fragments/header.html :: header(title = 'Profile')"></head>
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container row">
    <div class="col-4">
        <a th:href="@{|/interview-questions/show|}"><button class="btn btn-primary">Interview Questions</button></a>
        <a th:href="@{|/interview-questions/create|}"><button class="btn btn-primary">Interview Create</button></a>
    </div>
    <div class="col-4">
        <a th:href="@{|/mentorship-posts/show|}"><button class="btn btn-primary">Mentorship Posts</button></a>
        <a th:href="@{|/mentorship-posts/create|}"><button class="btn btn-primary">Mentorship Create</button></a>
    </div>
    <div class="col-4">
        <a th:href="@{|/job-postings/show|}"><button class="btn btn-primary">Job Postings</button></a>
        <a th:href="@{|/job-postings/create|}"><button class="btn btn-primary">Job Postings Create</button></a>
    </div>
<!--    Interview-->
    <div class="col-4">
        <h3>Most Recent Interview Questions</h3>
        <div th:each="post : ${interviewQuestionsList}">
            <div th:id="'post-' + ${post.id}">
                <h4 th:text = "${post.title}"></h4>
                <p th:text = "${post.dateTime}"></p>
                <p th:text = "${post.body}"></p>
                <p th:text = "${post.user.username}"></p>
                <div  th:if="${post.imageURLList.size() > 0 && post.imageURLList[0].url.length() > 8}" >
                    <img th:src="${post.imageURLList[0].url}" alt="post-image">
                </div>
                <div sec:authorize = "isAuthenticated()">
                    <button class="upvote-button" th:id="'upvote-' + ${post.id}">Upvote JS</button>
                    <button class="downvote-button" th:id="'downvote-' + ${post.id}">Downvote JS</button>
                    <div th:each="postRating : ${post.ratingList}">
                        <p th:text="${postRating.rating}"></p>
                    </div>
                    <p>Rating Total: <span th:text = "${post.getRatingTotal()}"></span></p>
                </div>

                <div th:each="comment : ${post.commentList}">
                    <p th:text = "${comment.body}"></p>
                    <div sec:authorize = "isAuthenticated()">
                        <button class="upvote-comment-button" th:id="'upvote-comment-' + ${comment.id}">Upvote JS</button>
                        <button class="downvote-comment-button" th:id="'downvote-comment-' + ${comment.id}">Downvote JS</button>
                    </div>
                    <p>Comment Rating Total: <span th:text = "${comment.getRatingTotal()}"></span></p>
                </div>

                <div class="create-comment-div" th:id="'create-comment-div-' + ${post.id}"></div>
                <button class="add-comment-button" th:id="'add-comment-button-' + ${post.id}">Comment</button>
                <div th:if="${user.id == post.user.id}">
                    <a th:href="@{|/mentorship-posts/edit/${post.id}|}"><button>Edit Post</button></a>
                    <button class="delete-button" th:id="${post.postType.type} + '-' + ${post.id}">Delete Post</button>
                </div>
            </div>
        </div>
    </div>
<!--    End Interview-->
<!--    Mentorship-->
    <div class="col-4">
        <h3>Most Recent Mentorship Posts</h3>
        <div th:each="post : ${mentorshipPostsList}">
            <div th:id="'post-' + ${post.id}">
                <h4 th:text = "${post.title}"></h4>
                <p th:text = "${post.dateTime}"></p>
                <p th:text = "${post.body}"></p>
                <p th:text = "${post.user.username}"></p>
                <div  th:if="${post.imageURLList.size() > 0 && post.imageURLList[0].url.length() > 8}" >
                    <img th:src="${post.imageURLList[0].url}" alt="post-image">
                </div>
                <div sec:authorize = "isAuthenticated()">
                    <button class="upvote-button" th:id="'upvote-' + ${post.id}">Upvote JS</button>
                    <button class="downvote-button" th:id="'downvote-' + ${post.id}">Downvote JS</button>
                    <div th:each="postRating : ${post.ratingList}">
                        <p th:text="${postRating.rating}"></p>
                    </div>
                    <p>Rating Total: <span th:text = "${post.getRatingTotal()}"></span></p>
                </div>
                <div th:each="comment : ${post.commentList}">
                    <p th:text = "${comment.body}"></p>
                </div>
                <div class="create-comment-div" th:id="'create-comment-div-' + ${post.id}"></div>
                <button class="add-comment-button" th:id="'add-comment-button-' + ${post.id}">Comment</button>
                <div th:if="${user.id == post.user.id}">
                    <a th:href="@{|/mentorship-posts/edit/${post.id}|}"><button>Edit Post</button></a>
                    <button class="delete-button" th:id="${post.postType.type} + '-' + ${post.id}">Delete Post</button>
                </div>
            </div>
        </div>
    </div>
<!--    End Mentorship-->
<!--    Job-->
    <div class="col-4">
        <h3>Most Recent Job Postings</h3>
        <div th:each="post : ${jobPostingsList}">
            <div th:id="'post-' + ${post.id}">
                <h4 th:text = "${post.title}"></h4>
                <p th:text = "${post.dateTime}"></p>
                <p th:text = "${post.body}"></p>
                <p th:text = "${post.user.username}"></p>
                <div  th:if="${post.imageURLList.size() > 0 && post.imageURLList[0].url.length() > 8}" >
                    <img th:src="${post.imageURLList[0].url}" alt="post-image">
                </div>
                <div sec:authorize = "isAuthenticated()">
                    <button class="upvote-button" th:id="'upvote-' + ${post.id}">Upvote JS</button>
                    <button class="downvote-button" th:id="'downvote-' + ${post.id}">Downvote JS</button>
                    <div th:each="postRating : ${post.ratingList}">
                        <p th:text="${postRating.rating}"></p>
                    </div>
                    <p>Rating Total: <span th:text = "${post.getRatingTotal()}"></span></p>
                </div>
                <div th:each="comment : ${post.commentList}">
                    <p th:text = "${comment.body}"></p>
                </div>
                <div class="create-comment-div" th:id="'create-comment-div-' + ${post.id}"></div>
                <button class="add-comment-button" th:id="'add-comment-button-' + ${post.id}">Comment</button>
                <div th:if="${user.id == post.user.id}">
                    <a th:href="@{|/mentorship-posts/edit/${post.id}|}"><button>Edit Post</button></a>
                    <button class="delete-button" th:id="${post.postType.type} + '-' + ${post.id}">Delete Post</button>
                </div>
            </div>
        </div>
    </div>
<!--    End Job-->
</div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>