<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header(title='Login')"></head>
<body class ="pic">
<nav th:replace="fragments/navbar.html :: navbar"></nav>

<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


<div class="login-frame">
    <h1 class="text-center">Login</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input  class="form-control"  id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input  class="form-control"  id="password" name="password" type="password" />
    <br>
    <input  class="form-control"  type="submit" value="Login" />
    <br>
</form>
    <div class="text-center">
   <p>Not registered with us yet?  <a href="/register"><button type="button" class="btn btn-dark">Register For An Account</button></a></p>
    </div>
</div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>