<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <head th:replace="fragments/header.html :: header(title = 'Profile')"></head>
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>



<h1>Welcome to your profile <span th:text="${user.username}">user</span>!</h1>
<h3 class="mt-0">User information:</h3>
<p>first name: <span th:text="${user.firstName}"></span> last name: <span th:text="${user.lastName}"></span> </p>
<h3 class="mt-0">About Me:</h3>
<div>
    <img th:src="${user.profileImageURL}" alt="profile" class="img-fluid align-self-center mr-3" width="25%" height="25%">
</div>
<p><span th:text="${user.bio}"></span></p>


<div class="form-group">
    <form th:action="@{'/users/' + ${user.id} + '/edit'}" th:method="POST" th:object="${user}">
        <label for="about_me" class="col-form-label">About Me:</label>
        <textarea class="form-control" id="about_me" name="aboutMe" type ="text"  th:field="*{bio}"
                  placeholder="Update any new accomplishments"></textarea>
        <button type="submit" class="btn btn-primary form-control">Save Edits</button>
    </form>
</div>

<!--<main class="container">-->
<!--    <h1> Here are your Post</h1>-->
<!--    <div th:each="post : ${post}">-->
<!--        <div th:if="${user.id == post.user.id}">-->
<!--        <a th:href="@{|/posts/${post.id}|}"><h1 th:text="${post.title}"></h1></a>-->
<!--        <p th:text="${post.body}"></p>-->
<!--        <a th:href="'mailto:'+${post.user.email}"><span th:text="${post.user.email}"></span> </a>-->
<!--        <br>-->
<!--        <a th:href="@{|/posts/${post.id}/edit|}"><button>Edit Post</button></a>-->
<!--        <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST" style="display:inline">-->
<!--            <button>Delete Post</button>-->
<!--        </form>-->
<!--        <hr>-->
<!--    </div>-->
<!--    </div>-->
<!--</main>-->

<main class="container">
    <h1> Here are your Interview Questions</h1>
    <div th:each="post :${postList}">
        <div th:if="${user.id == post.user.id}">
            <a th:href="@{|/posts/${post.id}|}"><h1 th:text="${post.title}"></h1></a>
            <p th:text="${post.body}"></p>
        </div>
    </div>
</main>

<main class="container">
    <h1> Here are your Mentorship Post</h1>
    <div th:each="post :${mentorList}">
        <div th:if="${user.id == post.user.id}">
            <a th:href="@{|/posts/${post.id}|}"><h1 th:text="${post.title}"></h1></a>
            <p th:text="${post.body}"></p>
        </div>
    </div>
</main>

<main class="container">
    <h1> Here are your job Postings</h1>
    <div th:each="post :${jobList}">
        <div th:if="${user.id == post.user.id}">
            <a th:href="@{|/posts/${post.id}|}"><h1 th:text="${post.title}"></h1></a>
            <p th:text="${post.body}"></p>
        </div>
    </div>
</main>




<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>