<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header.html :: header(title = 'Register your account!')"></head>-->
<!--<body>-->
<!--<nav th:replace="fragments/navbar.html :: navbar"></nav>-->
<!--<h1>Register your account</h1>-->



<!--<form th:action="@{/register}" method="POST" th:object="${user}">-->
<!--    <label for="firstName">First Name</label>-->
<!--    <input id="firstName" th:field="*{firstName}"/>-->
<!--    <br/>-->
<!--    <label for="lastName">Last Name</label>-->
<!--    <input id="lastName" th:field="*{lastName}"/>-->
<!--    <br/>-->
<!--    <label for="username">Username</label>-->
<!--    <input id="username" th:field="*{username}"/>-->
<!--    <br/>-->
<!--    <label for="email">Email</label>-->
<!--    <input id="email" th:field="*{email}"/>-->
<!--    <br/>-->
<!--    <label for="password">Password</label>-->
<!--    <input id="password" type="password" th:field="*{password}"/>-->
<!--    <br/>-->
<!--    <label for="bio">Personal Bio</label>-->
<!--    <textarea id="bio" th:field="*{bio}" cols="30" rows="10" maxlength="250" placeholder="Please type a brief summary that is less than 250 words."></textarea>-->
<!--    <br/>-->
<!--    <button class="button photo-upload" type="button" id="photo-picker">Upload Profile Image</button>-->
<!--    <input type="hidden" class="" id="photo-upload" name="photoURL">-->
<!--    <button class="button photo-upload" type="button" id="resume-picker">Upload Resume Image</button>-->
<!--    <input type="hidden"  class="" id="resume-upload" name="resumeURL">-->
<!--    <br/>-->
<!--    <label for="is-admin">Admin</label>-->
<!--    <input id="is-admin" type="radio" value="ADMIN" name="admin">-->
<!--    <br/>-->
<!--    <label for="is-instructor">Instructor</label>-->
<!--    <input id="is-instructor" type="radio" value="INSTRUCTOR" name="instructor">-->
<!--    <br/>-->
<!--    <label for="is-alum">Alum</label>-->
<!--    <input id="is-alum" type="radio" value="ALUMNUS" name="alumnus">-->
<!--    <br/>-->
<!--    <label for="is-student">Student</label>-->
<!--    <input id="is-student" type="radio" value="STUDENT" name="student">-->
<!--    <br/>-->
<!--    <div class="skills-div" id="skills-div">-->
<!--        <input type="text" id="skills-param-0" name="skills-param" placeholder="Please input a skill.">-->
<!--    </div>-->
<!--    <button class="add-skill-button" id="add-skill-button">Add Another Skill</button>-->
<!--    <input value="Sign me up!" type="submit" />-->
<!--</form>-->
<!--<div th:replace="fragments/body-scripts.html :: body-scripts"></div>-->
<!--</body>-->
<!--</html>-->




<!-- OLD FORM ABOVE -->
<!-- NEW FORM BELOW -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/header.html :: header(title = 'Register Account')"/>
    <meta class="filestackKey" th:content="${filestackKey}  "/>
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>

<form th:action="@{/register}" method="POST" th:object="${user}">
    <div class="card register-mainBox">
        <div class="card-body box-box">
            <!--            input name email username password and bio-->
            <h1 class="text-center">Register your account</h1>
            <label for="firstName">First Name</label>
            <input id="firstName" class="form-control" th:field="*{firstName}"/>
            <label for="lastName">Last Name</label>
            <input id="lastName" class="form-control" th:field="*{lastName}"/>
            <label for="username">Username</label>
            <input id="username" class="form-control" th:field="*{username}"/>
            <label for="email">Email</label>
            <input id="email" class="form-control" placeholder="Enter email. Must contain @" th:field="*{email}"/>
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" th:field="*{password}"/>
            <label for="bio">Personal Bio</label>
            <textarea class="form-control" id="bio" th:field="*{bio}" cols="30" rows="5" maxlength="250"
                      placeholder="Please type a brief summary that is less than 250 words."></textarea>
            <br>
            <!--            upload resume and picture-->

            <div class="form-row">
                <div class="col">
                    <button class="btn btn-dark form-control" type="button" id="photo-picker">Upload Profile Image
                    </button>
                    <input type="hidden" class="" id="photo-upload" name="photoURL">
                </div>
                <div class="col">
                    <button class="btn btn-dark button form-control" type="button" id="resume-picker">Upload Resume
                        Image
                    </button>
                    <input type="hidden" class="" id="resume-upload" name="resumeURL">
                </div>
            </div>

            <br>
            <!--            check your boxes as to wht your role is -->

            <div class="form-row">
                <div class="col form-check form-check-inline">
                    <input class="form-check-input" id="is-admin" type="checkbox" value="ADMIN" name="admin">
                    <label class="form-check-label" for="is-admin">Admin</label>
                </div>
                <div class="col form-check form-check-inline">
                    <input class="form-check-input" id="is-instructor" type="checkbox" value="INSTRUCTOR"
                           name="instructor">
                    <label class="form-check-label" for="is-instructor"> Instructor</label>
                </div>
                <div class="col form-check form-check-inline">
                    <input class="form-check-input" id="is-alum" type="checkbox" value="ALUMNUS" name="alumnus">
                    <label class="form-check-label" for="is-alum">Alum</label>
                </div>
                <div class="col form-check form-check-inline">
                    <input class="form-check-input" id="is-student" type="checkbox" value="STUDENT" name="student">
                    <label class="form-check-label" for="is-student">Student</label>
                </div>
            </div>

            <br>
            <!--            Enter your programming skills  -->
            <button class="btn btn-dark form-control" id="add-skill-button">Add Another Skill</button>
            <div class="skills-div" id="skills-div">
                <br>
                <input class="form-control" type="text" id="skills-param-0" name="skills-param"
                       placeholder="Please input your programming skills.">
            </div>

            <br>
            <input class="form-control" value="Sign me up!" type="submit"/>
        </div>
    </div>
</form>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>