body{
    background-color: black;
}

.fancy-header{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Roboto', sans-serif;  */
}

.comment{
    font-family: 'Dosis', sans-serif;
}

.answer{
    margin-bottom: 0;
}

.logo{
    font-family: 'Orbitron', sans-serif;
    color: #00727F;
}

.card-body{
    background-color: white;
}

.back{
    background-color: #95A3B3;
}
