#profile-card {
    background-color: #ff6347
}

.fancy-header{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Roboto', sans-serif;  */
}

.comment{
    font-family: 'Dosis', sans-serif;
}

.answer{
    margin-bottom: 0;
}

.col-9{
    background-color: white;
}