html {
    scroll-behavior: smooth;
}

i:hover{
    text-decoration: none;
    color: #0c5460;

}
/*changes upvote-downvote buttons*/
.btn-link{
    color: #0c5460;
    text-decoration: none;
}
button{
    color: #0c5460;
    text-decoration: none;
    background: none;
    border: none;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}


/*parallax*/
body, html {
    height: 100%;
}

.parallax {
    /* The image used */

    background-image: url('/img/background-computer.jpg');



    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url('/img/whiteboard.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

#index-login, #index-register {
    width: 150px;
    height: 40px;
    color: #E3E7D3;
    font-size: 20px;
    border: 2px solid #E3E7D3;
    border-radius: 3px;
    background-color: #0f6674;
    margin: 15px 30px;
    padding-top: 3px;
    padding-bottom: 35px;
}


/*these are the buttons on the interview page review and see what they like*/
/*#interview-whiteboard-button, #interview-question-round-button {*/
#sortbutton{
    width: 200px;
    text-align: center;
    color: #E3E7D3;
    font-size: 20px;
    border: 2px solid #E3E7D3;
    border-radius: 3px;
    background-color: #0f6674;
    padding-top: 3px;
    padding-bottom: 5px;
}

.start-button, .show-answer-button, .next-question-button, .profile-button {
    text-align: center;
    color: #E3E7D3;
    font-size: 20px;
    border: 2px solid #E3E7D3;
    border-radius: 3px;
    background-color: #0f6674;
    margin: 20px 10px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.profile-button {
    width: 188px;
    text-align: center;
    color: #E3E7D3;
    font-size: 18px;
    border: 2px solid #E3E7D3;
    border-radius: 3px;
    background-color: #0f6674;
    margin: 20px 10px;
    padding: 3px 8px 5px;
}

.question-round-container {
    width: 100vw;
}

a:hover {
    text-decoration: none;
    color: #E3E7D3;
}

/*landing page*/
.fancy-header{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Roboto', sans-serif;  */
}

.comment{
    font-family: 'Dosis', sans-serif;
}

.answer{
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    font-family: 'Orbitron', sans-serif;
    color: #00727F;
}

.card-body{
    background-color: white;
}

.back{
    background-color: #95A3B3;
}

.op{
    opacity: .25;
}



/*this is the video portion*/
#logo{
    font-family: 'Orbitron', sans-serif;
    color: #0f6674;
}


/*might need to make som adjustments to this but still early*/
header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    overflow: hidden;
}
#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.container {
    position: relative;
    z-index: 2;
}
/*header .overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: black;*/
/*    !*opacity: 0.5;*!*/
/*    z-index: 1;*/
 /*}*/
/*splashpage text in front*/
.splash{
    color: white;
    font-weight: bold;
}
/*for all the comments*/
.commentrow{
    /*background-color: #cde6ff;*/
}
/*links on dashboard*/
.takeme{
    color: #00727F;
}
.takethem{
    color: #373E40;
}
/*for each job post type*/
#profile-card{
    background-image: url("/img/blue-wallpaper.jpg");

}
#label-text{
    color: white;
}
.profile-header{
    font-family: 'Orbitron', sans-serif;
    color: #E3E7D3;
}
.profile-header:hover{
    font-family: 'Orbitron', sans-serif;
    color: #E3E7D3;
}
.show-chat-modal-button {
    position: fixed;
    right: 4rem;
    border: 0;
    z-index: 50000;
    bottom: 2rem;
    width: 3rem;
    font-size: 3rem;
}
.aboutus {
    margin-top: 15%;
}

.nav-create-button, .logout-button, .drop {
    color: rgba(255,255,255,.5) !important;
}

.nav-create-button{
    padding-right: 6rem;
}



.nav-link:hover, .nav-create-button:hover, .logout-button:hover, .drop:hover {
    color: #0f6674 !important;
    text-decoration: none !important;
}

#search-button{
    width: 6rem;
    text-align: center;
    color: #E3E7D3;
    font-size: 20px;
    border: 2px solid #E3E7D3;
    border-radius: 3px;
    background-color: #0f6674;
    padding-top: 3px;
    padding-bottom: 5px;
}

.post-image {
    max-width: 90% !important;
}


@media only screen and (max-width: 600px) {
    .parallax2{
        display: none;
    }
    .col-3{
        display: none;
    }
}
