<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header(title = 'Codeon')"></head>
<body>
<header class="d-none d-lg-block">
    <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://www.videvo.net/videvo_files/converted/2016_04/preview/160330_1_Typing1_Mpeg4_4K.mov32174.webm" type="video/webm">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3" id ="logo" style="font-size: 12em">CodeOn</h1>
                <div class="d-flex justify-content-center">
                    <a id="index-login" th:href="@{|/login|}">Login</a>
                    <a id="index-register" th:href="@{|/register|}">Register</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="parallax"></div>
<!--this is the page the will see when they get to CodeOn.com this is where
the parallax will go -->

<div style="height:1000px;background-color:steelblue;font-size:36px">
    <!-- Scroll animations section -->
    <h2 class="new-section">Scroll Animations</h2>
</div>

<div class="parallax"></div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>