<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header(title = 'Codeon')"></head>
<body>
<header class="d-none d-lg-block">
    <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://www.videvo.net/videvo_files/converted/2016_04/preview/160330_1_Typing1_Mpeg4_4K.mov32174.webm" type="video/webm">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3" id ="logo" style="font-size: 12em">CodeOn</h1>
                <div class="d-flex justify-content-center">
                    <a id="index-login" th:href="@{|/login|}">Login</a>
                    <a id="index-register" th:href="@{|/register|}">Register</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col-xs-12 col-md-4 mb-1">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="embed-responsive embed-responsive-4by3">
                                        <img src="/img/interview-card.jpg" class="card-img-top embed-responsive-item" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Interviews </h5>
                    <p class="card-text">With an abundant number of resource on the internet, searching for the type or interview quetions you will be asked can be daunting. Here at CodeOn you have insight from fellow developers to help you land tha job.</p>
                    <a href="#" class="btn btn-link">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 mb-1">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="embed-responsive embed-responsive-4by3">
                                        <img src="/img/mentorship-card.jpg" class="card-img-top embed-responsive-item" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mentorship</h5>
                    <p class="card-text">Mentorship is the key to extraordinary success. CodeOn has developed a user community to meet that mentor and flourish as a developer. Here you can connect with fellow alumni and and pay it forward.</p>
                    <a href="#" class="btn btn-link">Learn More</a>
                </div>
            </div>
        </div>


</div>
</div>


<div class="parallax2">

    <h1>Stay connected to the other developers  and sharpen your skills  at CodeOn</h1>
</div>

<div class="parallax"></div>

<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>