<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/header.html :: header(title = 'Whiteboard')"/>
    <meta class="firebaseKey" th:content="${firebaseKey}"/>
    <meta class="talkJSAppId" th:content="${talkJSAppId}"/>
    <meta class="filestackKey" th:content="${filestackKey}"/>
    <title>Whiteboard</title>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
    <!-- ACE and its JavaScript mode and theme files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-textmate.js"></script>
    <!-- Firepad -->
    <link rel="stylesheet" href="https://firepad.io/releases/v1.5.9/firepad.css" />
    <script src="https://firepad.io/releases/v1.5.9/firepad.min.js"></script>
    <style>
        html { height: 100%; }
        body { margin: 0; height: 100%; position: relative; }
        /* Height / width / positioning can be customized for your use case.
           For demo purposes, we make firepad fill the entire browser. */
        #firepad-container {
            width: 100%;
            height: 90%;
        }
    </style>
</head>
<body onload="init()">
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div th:replace="fragments/create-modals.html :: create-modals"></div>
<h3>CodeOn Whiteboard Environment. Click "Get Question" to begin.</h3>
<div id="button-div">
    <button class="get-question-button" id="get-question-button">Get Question</button>
</div>
<div id="firepad-container"></div>
<script type="text/javascript" th:src="@{~/js/keys.js}"></script>
<script>
    let firepad;
    let currentQuestion;
    function init() {
        //// Initialize Firebase.
        const config = {
            apiKey: document.querySelector('meta.firebaseKey').content,
            authDomain: "codeon-49481.firebaseapp.com",
            databaseURL: "https://codeon-49481.firebaseio.com"
        };
        firebase.initializeApp(config);

        //// Get Firebase Database reference.
        let firepadRef = getExampleRef();

        //// Create ACE
        let editor = ace.edit("firepad-container");
        editor.setTheme("ace/theme/chaos");
        let session = editor.getSession();
        session.setUseWrapMode(true);
        session.setUseWorker(false);
        session.setMode("ace/mode/text");

        //// Create Firepad.
        firepad = Firepad.fromACE(firepadRef, editor, {
            defaultText: 'Welcome to CodeOn WhiteBoard. Please wait for your facilitator.'
        });
    }

    // Helper to get hash from end of URL or generate a random one.
    function getExampleRef() {
        let ref = firebase.database().ref();
        let hash = window.location.hash.replace(/#/g, '');
        if (hash) {
            ref = ref.child(hash);
        } else {
            ref = ref.push(); // generate unique location.
            window.location = window.location + '#' + ref.key; // add it as a hash to the URL.
        }
        if (typeof console !== 'undefined') {
            console.log('Firebase data: ', ref.toString());
        }
        return ref;
    }
    function getQuestion() {
        firepad.setText("");
        fetch(`/api/whiteboard-questions/show-one`, {
            method: 'GET'
        })
            .then(response => {
                return response.json();
            })
            .then(res => {
                currentQuestion = res;
                firepad.setText(res.body);
                if(document.querySelector("#reset-question-button") == null) {
                    let resetButton = document.createElement("button");
                    resetButton.innerText = "Reset Question.";
                    resetButton.setAttribute("id", "reset-question-button");
                    document.querySelector("#button-div").append(resetButton);
                    document.querySelector("#reset-question-button").addEventListener("click", resetQuestion);
                }
            })
    }
    function loadQuestion() {
        firepad.setText("");
        let id = this.getAttribute("id").split("-")[2];
        fetch(`/api/whiteboard-questions/${id}`, {
            method: 'GET'
        })
            .then(response => {
                return response.json();
            })
            .then(res => {
                console.log(res);
                firepad.setText(res.body);
            })
    }
    function resetQuestion() {
        firepad.setText(currentQuestion.body);
    }
    document.querySelectorAll(".question-button").forEach(button => {
        button.addEventListener("click", loadQuestion);
    });
    document.querySelector("#get-question-button").addEventListener("click", getQuestion);


</script>
<div th:replace="fragments/chat-box.html :: chat-box"></div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
<div th:replace="fragments/chat-scripts.html :: chat-scripts"></div>
</body>
</html>

<!DOCTYPE html>
