<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header(title = 'All Job Postings')"></head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div th:each="post : ${postList}">
    <h1 th:text = "${post.title}"></h1>
    <p th:text = "${post.body}"></p>
    <p th:text = "${post.user.email}"></p>

<!-- Will working on ratings -->
    <div sec:authorize = "isAuthenticated()">
        <a th:href="@{|/upvote/${post.id}|}"><button>Upvote</button></a>
        <a th:href="@{|/downvote/${post.id}|}"><button>Downvote</button></a>
        <p>Rating Total: <span th:text = "${post.getRatingTotal()}"></span></p>
    </div>
<!-- END Will working on ratings -->

    <div th:each="comment : ${post.commentList}">
        <p th:text = "${comment.body}"></p>
    </div>
    <div sec:authorize = "isAuthenticated()">
        <div th:if="${user.id == post.user.id}">
            <a th:href="@{|/job-postings/edit/${post.id}|}"><button>Edit Post</button></a>
            <a th:method="DELETE" th:href="@{|/job-postings/delete/${post.id}|}"><button>Delete Post</button></a>
        </div>
    </div>
</div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>